@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Gilroy-Light', sans-serif;
}

nav {
    width: 1440px;
    height: 174px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 85px 80px 37px 80px;
}

.link {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.link a {
    text-decoration: none;
    margin-right: 47px;
    color: #000000;
    font-size: 17.16px;
    font-weight: 500px;
}

.helpBtn {
    height: 50px;
    width: 182px;
    border-radius: 5.95px;
    color: #FFFFFF;
    background-color: #75BF7A;
    text-align: center;
    border: none;
    font-size: 22px;
    font-weight: 600px;
}

header {
    display: flex;
    padding-top: 51px;
}

.info {
    width: 557px;
    margin: 102px 80px 0px 80px;
    display: flex;
    flex-direction: column;
}

.title {
    width: 557px;
    height: 198px;
}

.title h1 {
    font-size: 60.73px;
    font-weight: 800;
    line-height: 65.91px;
    color: #000000;
}

.detail {
    width: 550px;
    height: 120px;
    margin-top: 25px;
}

.detail p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #9E9DA2;
}

.download {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.btnDownload {
    background-color: #000000;
    color: #FFFFFF;
    width: 260px;
    height: 66.77px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnDownload img {
    height: 39.8863639831543px;
    width: 45px;
    margin-right: 10px;
}
.pic1 img{
    width: 553px;
    height: 582.81px;
}